<div class="row">
  <div class="span4 active">
    <ul class="well">
      <h2>Active</h2>
      <% @sliders.active.each do |slider| %>
        <%= render slider, :locals => { :list => true } %>
      <% end %>
    </ul>
  </div>

  <div class="span4 inactive">
    <ul class="well">
      <h2>Inactive</h2>
      <% @sliders.inactive.each do |slider| %>
        <%= render slider, :locals => { :list => true } %>
      <% end %>
    </ul>
  </div>
</div>
<%= link_to 'New Image', new_slider_path, :class=> 'nice small radius button', :id=> 'new_slider' %>



<div id="myModal" class="reveal-modal">
     <h2>New Image.</h2>
      <%= render 'upload' %>
     <a class="close-reveal-modal">&#215;</a>
</div>
