<div class="col-container">
	<div class="left col">
		<h3>Active</h3>
		<ul id="active-slider-images">
		<% @sliders.active.each do |slider| %>
      <%= render slider, :locals => { :list => true } %>
		<% end %>
		</ul>
	</div>

  <% unless @sliders.inactive.empty? %>  
	<div class="right col">
		<h3>Inactive</h3>
		<ul id="inactive-slider-images">
		<% @sliders.inactive.each do |slider| %>
	  
      <%= render slider, :locals => { :list => true } %>
		<% end %>
		</ul>
	</div>
	<% end %> 
</div>

<%= link_to 'New Image', new_slider_path, :class=> 'nice small radius button', :id=> 'new_slider' %>

<div id="myModal" class="reveal-modal">
     <h2>New Image.</h2> 			
      <%= render 'upload' %>
     <a class="close-reveal-modal">&#215;</a>
</div>
