<script language="javascript">
	$(document).ready(function(){
		$('#active-slider-images').sortable({
			update: function(event, ui) {
				var SlidersOrder = $(this).sortable('toArray');
				$.post( 'sliders/sort', {SlidersOrder:SlidersOrder});
			}
		});
	});
	
</script>

<%= link_to 'Back', admin_path, :class => "back" %>
<h1 class="status">Home Page Images</h1>

<div class="col-container">
	<div class="left col">
		<h3>Active</h3>
		<ul id="active-slider-images">
		<% @sliders.active.each do |slider| %>
      <%= render slider %>
		<% end %>
		</ul>
	</div>

  <% unless @sliders.inactive.empty? %>  
	<div class="right col">
		<h3>Inactive</h3>
		<ul id="inactive-slider-images">
		<% @sliders.inactive.each do |slider| %>
      <%= render slider %>
		<% end %>
		</ul>
	</div>
	<% end %>
</div>

<br />

<%= link_to 'New Image', new_slider_path %>



<script language="javascript">
  $(document).ready(function() {
  	/* This is basic - uses default settings */
  	$("a.single_image").fancybox();
  	/* Using custom settings */
  });
</script>
