<<<<<<< HEAD


<%= link_to 'Back', sliders_path %>
<h1>New Homepage Image</h1>

<%= render 'form' %>

=======
<h1>New slider</h1>

<%= render 'form' %>

<%= link_to 'Back', sliders_path %>
>>>>>>> 155df5c196845e601546793c68862416eb7b97e6
