.bundle
db/*.sqlite3
*.sql
*.dump
log/*.log
log/*.lck
tmp/*
tmp/cache/assets/
tmp/cache/sass/
tmp/pids/
config/mail.yml
config/database.yml
public/uploads/
public/assets/
solr/data/
solr/pids/
.sass-cache/
.DS_Store
.lck

