.bundle
db/*.sqlite3
*.sql
*.dump
log/*.log
log/*.lck
log/*
tmp/*
tmp/cache/assets/
tmp/cache/sass/
tmp/pids/
config/mail.yml
config/database.yml
public/uploads/
solr/data/
solr/pids/*
.sass-cache/
.DS_Store
.lck


# Ignore application configuration
/config/application.yml
