<script>
  $(function() {
    $( ".datepicker" ).datepicker();
  });
</script>


<h1>Editing invoice</h1>

<%= render 'form2' %>

<%= link_to 'Show', @invoice %> |
<%= link_to 'Back', invoices_path %>
