<script>
$(document).ready(function(){
       // $("#invoice-table").tablesorter();

        $("#invoice-table")
            .tablesorter({widthFixed: true, widgets: ['zebra']})
            .tablesorterPager({container: $("#pager")});

});

</script>

<h1>Listing invoices</h1>

<table id="invoice-table" class="invoice table-bordered tablesorter">
  <thead>
  <tr>
    <th>Number</th>
    <th>Date</th>
    <th>Title</th>
    <th>Subtotal</th>
    <th>Grand total</th>
    <th>Tax</th>
    <th>Subscriber</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody id="invoices">
  <%= render @invoices %>
</tbody>
</table>


<div id="pager">
  <form>
    <!-- <span class="first">‹ First</span> -->
    <span class="prev">‹ Prev</span>
    <input type="text" class="pagedisplay">
    <span class="next">Next ›</span>
    <!-- <img src="../addons/pager/icons/last.png" class="last"> -->
    <select class="pagesize">
      <option selected="selected" value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="40">40</option>
    </select>
  </form>
</div>

<!-- <div id="paginator">
  <%# paginate @invoices, :remote => true %>
</div> -->
<br />

<%= link_to 'New Invoice', new_invoice_path %>
