<script language="javascript">
  $(document).ready(function(){
    $('#tasks').sortable({
      update: function(event, ui) {
        var tasksOrder = $(this).sortable('toArray');
        $.post( 'tasks/sort', {ItemsOrder:tasksOrder});
      }
    });
  });
</script>


<table class="table table-bordered table-striped">
<thead>
  <tr>
    <th>Task</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody id="tasks">
  <%= render @tasks %>
</tbody>
</table>

<br />

<%= link_to 'New Task', new_task_path, :class => "btn btn-primary"%>
