ul{margin:0; padding:0; list-style:none;}

#header h1{ margin:0; padding:0;font-size:48px;color:#319E00; text-align:center;}
#header span{font-size:14px; margin:0 auto;}

p{padding:0;margin:0 0 20px 0;}

body {background-color:gray;}

ul#nav {background-color: #319E00;}

#container {background-color:white; width:960px; margin:0 auto;display:block;}

#footer {color:white;}
#footer .column { margin-bottom:30px;}
#footer p {background-color: #319E00; padding:10px;}

#sidebar ul{margin:0; padding:0; text-align:right;}
#sidebar ul li {margin:0 0 1em 0; list-style:none; letter-spacing:0.1em; text-decoration:none;}
#sidebar ul li a{text-decoration:none;}


#main_right{height:auto;}

div#header{margin-bottom:20px;}

div#header ul#nav {
	clear: both;
	padding-left: 20px;
	list-style: none;
	position: relative;
	padding: 10px;
}

div#header ul#nav li {
	text-align:center;
	display: inline;
	position: relative;
	padding-bottom: 25px;
}

div#header ul#nav li a {
	
	text-decoration: none;
	padding: 4px 13px 5px 13px;
	margin-right: 10px;
	border-radius: 5px;
	font-family: "QlassikMedium";
	font-size: 17px;
	color: white;
}

div#header ul#nav li.active a {
	background: #b6de3e;
	color: #fff;
	box-shadow: 0px 0px 1px #aaa;
	border: 1px solid #eaeaea;
	font-family: "QlassikBold";
}



//TATUM's STUFF

.sidebar{float:left; padding-right:0px;width: 160px;}
.sidebar ul li{margin-bottom:10px;}
.sidebar ul a{font-size:16px;text-decoration:none; color:#41A100;}
.main_right{float:right; width: 750px;}



#products { list-style-type: none;  padding: 0;}
#products ul{ list-style-type: none;  padding:0; margin:0; }

#products li{height:auto;  overflow:auto;  margin:0;}


.product h3{padding:0 0 10px 0; margin:0 0 10px 0;}

#show-product{overflow:auto;}
.photo{float:left; width:400px;}
.meta{float:right; width:290px;}
li.admin-link a{color:red; text-decoration:italic;}
.meta h3 a{text-decoration:none;}


.dimensions span{ font-weight:800;}

.col-container{overflow:auto;}
.col{padding:0 1em; margin:0 1em; border:3px solid gray;}
.left{ float:left;}
.right{float:right; }

.spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -50px; /* half width of the spinner gif */
	margin-top: -50px; /* half height of the spinner gif */
	text-align:center;
	z-index:1234;
	overflow: auto;
	width: 100px; /* width of the spinner gif */
	height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}





/*#Slideshow--------------------------------------------*/


#slideshow {
	width: 600px;
	height: 375px;
    padding: 0;
} 

#slideshow img {
    padding: 10px;
    /*border:  1px solid rgb(100,100,100);
    background-color: rgb(230,230,230);*/
    width: 600px;
    height: 375px;
    top:  0;
    left: 0
}




