<p id="page_headline">ABOUT</p>

<div id="about">
  <span>
    <%= image_tag('phoebe.jpg') %>
    <a href="http://www.wgntv.com/videobeta/1b0bdc0e-c6bc-4b11-9c80-0113502e93ed/Food/Around-Town-Winnetka-Antiques-and-Modernism-Show">Phoebe Booth Antiques featured on WGN Around Town</a>
  </span>
  <p> Phoebe Booth Antiques LLC was founded by Phoebe B. DePree in 2011. The Company specializes in the sale of fine antique English & Irish furniture and objet d'art, focusing on the Queen Anne and Georgian
  periods. Continental furniture is also represented and primarily focuses on authenticity, quality, condition
  and the lasting appeal of each piece. All decorative arts represented are meticulously selected and have
  great character that can only be achieved through age, patination and integrity.</p>
  
  <p>In addition to selling exceptional European decorative arts from the 17th-19th centuries at antique shows
  around the country, Phoebe Booth Antiques also sources inventory for clients - specific to individual
  style, dimensions and budget.</p>
  
  <p>Phoebe DePree's personal expertise and invaluable contacts within the art world will provide a reliable
  foundation for collectors of all ages, designers, architects and dealers alike to source and purchase the most
  desirable antiques.</p>
  
  <p>Mrs. DePree is currently based in Chicago. Prior to founding Phoebe Booth Antiques, she managed,
  for over four years, one of the world's leading decorative arts galleries based in New York. Phoebe DePree
  attended The Sotheby's American Arts program in 2005 and prior to pursuing her passion for decorative
  arts, worked on the Finance Team at The Andrew W. Mellon Foundation and in Equity Research at Morgan
  Stanley.</p>
</div>