<%= render 'shared/heading', :heading => 'contact' %>

<div id="contact-page">
  <p>Email: <a href="mailto:phoebe@phoebeboothantiques.com">phoebe@phoebeboothantiques.com</a><br />
    Phone: 917-597-4368
  </p>

  <dl>
    <dt>Upcoming Shows:</dt>
    <dd><a href="http://www.antiquesandgardenshow.com/">The Antiques and Garden Show of Nashville</a>: February 10-12, 2012</dd>
    <dd><a href="http://huntvalleyantiquesshow.org/">Maryland Antiques Show of Hunt Valley</a>: February 23-26, 2012</dd>
    <dd><a href="http://www.stellashows.com/cgi-bin/texis/scripts/showpromo_info/stellashowdetail.html?idnum=ZJD1463&showabb=botanic20020419">
      Chicago Botanic Garden Antiques and Garden Fair
        </a>: April 20-22, 2012
    </dd>
    <dd>Shaia Nantucket Antiques Show: August 10-13, 2012</dd>
  </dl>
</div>