
<div id="slideshow">
	<% @sliders.each do |slider| %>
		<%= slider_magic(slider) %>
	<% end %>
</div>

<div id="facebook_info"><img src="images/facbeook/faceboo_1.gif" alt="" width="405" height="60" /><a href="http://www.facebook.com/pages/Phoebe-Booth-Antiques-LLC/153860351334138" target="_blank" onmouseover="MM_swapImage('facebook icon','','images/facbeook/facbook_icon_b.gif',1)" onmouseout="MM_swapImgRestore()"><img src="images/facbeook/facbook_icon_a.gif" width="145" height="60" border="0" id="facebook icon" /></a></div>



<script language="javascript">
	$(document).ready(function(){
		$('#slideshow').cycle();
	});
</script>