
<div id="slideshow">
	<% @sliders.each do |slider| %>
		<%= slider_magic(slider) %>
		<%# link_to image_tag(slider.image_url(:medium) ), slider.product %>
	<% end %>
</div>


<script language="javascript">
	$(document).ready(function(){
		$('#slideshow').cycle();
	});
</script>