
<div id="slideshow">
	<% @sliders.each do |slider| %>
		<%= slider_magic(slider) %>
	<% end %>
</div>




<script language="javascript">
	$(document).ready(function(){
		$('#slideshow').cycle();
	});
</script>