<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Subscriber.</h1>
    <p><b>First:</b> <%= @email.first %></p>
    <p><b>Last:</b> <%= @email.last %></p>
    <p><b>Email:</b> <%= @email.email %></p>
  </body>
</html>