<<<<<<< HEAD
<h3><%= link_to 'Back', product_measurements_path(@measurement.product), :class => 'back' %></h3>
=======
<h3><%= link_to 'Back', product_measurements_path(@measurement.product) %></h3>
>>>>>>> 155df5c196845e601546793c68862416eb7b97e6

<%= render 'form' %>

