<h3><%= link_to 'Back', product_measurements_path(@measurement.product), :class => 'back' %></h3>

<%= render 'form' %>

<%= link_to 'Delete', @measurement, confirm: 'Are you sure?', method: :delete %>
