//.group .delete{display:inline;width:20px;}
.group form.button_to {
  width:30px;
  margin:0; padding:0;
  display:inline;
  }

.group form.button_to div {
    display:inline;
  }
.group form.button_to div input {
  margin:0;padding:0; color:red;
  width:15px;
  height:17px;
  text-indent: -9999px;
  //display:inline;
  }

