div {
  &.field, &.actions {margin-bottom: 10px;} 
}

#notice { color: green; }

label .field_with_errors {
  color:red;
  //border-right:3px solid red;
  //display:relative;
  //padding: 2px;
  //background-color: red;
  //display: table;
 }

#error_explanation {
  //width: 400px;
	.field_with_errors {
	  padding: 2px;
	  background-color: red;
	  display: table; 
	}

	#error_explanation {
		ul li { font-size: 12px; list-style: none; }
	}
}		 