//#about img{float:left; padding:0 10px 5px 0;}
.contact{
  margin-bottom:50px;
}
.about p{margin-bottom:20px; font-family: "Times New Roman", Times, serif; font-size: 12pt; line-height: 20px;}

.about span{float:left;width:290px; display: block;overflow:auto; }
.about span a{font-style:italic;}
