// Place all the styles related to the invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body div#wrapper .customer{
font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
-webkit-font-smoothing: antialiased;
}
input.ex-small{width:75px;}


body table {
  background: #fff;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #555;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

body table.invoice {
  background: #fff;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #555;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
.invoice th{
  text-align:center;
}

table.totals{
  float:right;
  width:200px;
  }

.currency{
  text-align:right;
}

div.new-item{overflow:auto;}

.new-item ul{
  display:inline;
}
.new-item ul li{float:left; margin:0 5px;}
.center {text-align:center;}

.delete a{color:red;}


// DatePicker

#ui-datepicker-div{background-color:white;}
.ui-datepicker-prev{float:left;}
.ui-datepicker-next{float:right;}
.ui-datepicker-title{text-align:center;}
.show-invoice{overflow:auto;}
#add-product{overflow:auto;}
#add-product ul{display:inline;}
#add-product ul li{display:inline; float:left; margin:0 5px;}