
body div#wrapper .customer{
font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
-webkit-font-smoothing: antialiased;
}
input.ex-small{width:75px;}


body table {
  background: #fff;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #555;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

body table.invoice {
  background: #fff;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #555;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
.invoice th{
  text-align:center;
}

table.totals{
  float:right;
  width:200px;
  }

.currency{
  text-align:right;
}

div.new-item{overflow:auto;}

.new-item ul{
  display:inline;
}
.new-item ul li{float:left; margin:0 5px;}
.center {text-align:center;}

.delete a{color:red;}


#add-new-line-item{
  display:none;
}

.add-item-row td{padding:0;}

table tbody tr.add-item-row{background: none;}
div#add-new-line-item table{border:none;}
.cell-1{width:45px;}
.cell-2{ width:90px;}
.cell-3{ width:375px;}
.cell-4{ width:200px;}
.cell-5{ width:75px;}
.cell-6{}
.cell-7{}
.cell-8{}
.cell-9{}
.cell-10{}

.cell-1 input{}
.cell-2 input{ width:80px;}
.cell-3 input{ width:365px;}
.cell-4 input{ width:190px;}
.cell-5 input{ width:65px;}
.cell-6 input{ width:120px;}
.cell-7 input{}
.cell-8 input{}
.cell-9 input{}
.cell-10{}



// DatePicker

#ui-datepicker-div{background-color:white;}
.ui-datepicker-prev{float:left;}
.ui-datepicker-next{float:right;}
.ui-datepicker-title{text-align:center;}
.show-invoice{overflow:auto;}
#add-inventory-product{overflow:auto;}
#add-inventory-product ul{display:inline;}
#add-inventory-product ul li{display:inline; float:left; margin:0 5px;}

.info {min-height:135px;}
//RESPONSIVE
@media (min-width: 768px) {
  .content{margin-top:60px;}
}


@media (min-width: 1200px) {

}
