.header img{ border:none;}
.print-product{padding:10px;}
.print-product h1{ font-size:16px; text-align:center; padding:20px 0;}
.print-product img{ display: block; margin:0 auto; width:600px; border:none;}

.print-product ul li h3{ font-size:18px;}
.print-product ul li { margin-bottom:5px;}

.head-line{border-top:1px solid #9C9C9C;}
.print-footer {
	margin-bottom:10px;
	width: 900px; clear: both;
	color: #333; padding: 10px;
	border-top:1px solid #9C9C9C;
	border-bottom:1px solid #9C9C9C;
}
.disclaimer{font-style:italic; margin:20px 0;}
.print-footer p{ margin:0; padding:0; }