$lime-green: #54B919;
* { padding: 0; margin: 0; }
body {font-family: "Times New Roman", Times, serif;}

img{border:none;}
ul{list-style:none;}
h2{margin-bottom:10px;}

//Default Links
a:link { text-decoration: none;	color: #000;}
a:visited { text-decoration: none; color: #B7B7B7;}
a:hover { text-decoration: none; color: #56A21D;}
a:active { text-decoration: none;}


//FORMS
.upload-field label{font-family:helvetica; font-size:14px; color:black; }
.upload-field input{font-family:helvetica; font-size:14px; color:gray; padding:4px;}

.field {display:block;}
.field label{ font-size:14px; color:black; }
.field input{ font-size:14px; color:gray; border:2px solid gray; padding:4px;}
.field input:focus{ border:2px solid black; }
.field textarea{display:block; border:2px solid gray;font-size:14px; line-height: 1.5em; color:gray; padding:4px;}
.field textarea:focus{border:2px solid black;}

input#product_image{border:none;}
#edit-product-container{ overflow:auto; }
.edit-product-left{float:left;width:180px; overflow:hidden;}
.edit-product-right{ float:right;width:400px;}
.edit-product-right textarea{ width:90%;}

//Links
#rightcolumn a:link { text-decoration: none; color: black;}
#rightcolumn a:visited { text-decoration: none; color: black;}
#rightcolumn a:hover { text-decoration: none; color: black;}
#rightcolumn a:active { text-decoration: none;}


#wrapper { overflow:auto; margin: 0 auto; width: 922px; background-color: #FFF; }

#header{ width:922px; height:150px;}
#header h1{ margin:0; padding:0; font-size:48px; color:#319E00; text-align:center;}
#header h1 a img { background-repeat: no-repeat; border:0; }
#header span{ font-size:14px; margin:0 auto;}



#navigation {
	float: left;
	text-align:center;
	width: 922px;
	background: url('navigation/nav_bg.jpg');
	margin-bottom:38px;
	height: 35px;
	border-top:1px solid #B7B7B7;
	border-bottom:1px solid #B7B7B7;
	
}

#leftcolumn {
	float:left;
	color: #333;
	//height: 450px;
	width: 250px;
	float: left;
	margin-top: 0;
	background-color: #FFF;
	padding:10px;
	padding-top: 25px;
}
#rightcolumn {
	width: 600px;
	float: right;
	padding-top: 20px;
	margin-right:20px;
}

#footer {
	width: 900px;
	clear: both;
	color: #333;
	margin: 0px 0px 10px 0px;
	padding: 10px;
	background-color: #FFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9C9C9C;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

//Sidebar Navigation

#sidebar img { border: none; } 
#sidebar {
	width: 255px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #959595;
}
#sidebar ul { list-style: none; margin: 0; padding: 0; } 

#sidebar li a {
	height: 32px;
	font-family: "Times New Roman", Times, serif;
	margin: 0;
	font-size: 11pt;
	font-weight: lighter;
	height: 24px;
	text-decoration: none;
	color: #333;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #959595;
} 

#sidebar li a:link, 
#sidebar li a:visited {
	color: #808080;
	display: block;
	//padding: 8px, 0px, 30px, 30px;
	padding-top:8px;
	padding-left:30px;
	font-size: 11pt;
} 
#sidebar li a:hover {
	color: #CCC;
	background-position: 0 -32px;
	font-size: 11pt;
	padding: 8px, 0, 0, 30px;
}



//Admin Links
#rightcolumn a.admin-link{color:red;}
#admin-links {
	width: 255px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #959595;
}

#admin-links li a {
	height: 32px;
	font-family: "Times New Roman", Times, serif;
	margin: 0;
	font-size: 11pt;
	font-weight: lighter;
	height: 24px;
	text-decoration: none;
	color: #333;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #959595;
} 

#admin-links li a:link, 
#admin-links li a:visited {
	display: block;
	//padding: 8px, 0px, 30px, 30px;
	padding-top:8px;
	padding-left:30px;
	font-size: 11pt;
} 
#admin-links li a:hover {
	color: #CCC;
	background-position: 0 -32px;
	font-size: 11pt;
	padding: 8px, 0, 0, 30px;
}
#admin-links li.admin-link a{
	color:red; 
	font-style:italic;
}
#page_headline {
    font-family: "Times New Roman", Times, serif;
    font-size: 20pt;
    line-height: 20px;
    color: #58A51D;
	margin-bottom:20px;
}

#facebook{
	float:right;
	margin-right:10px;
}


//Tatum's Backend Stylings

//Products Listing
#products { list-style-type: none;  padding: 0; }
#products ul{ list-style-type: none;  padding:0; margin:0; }
#products li{height:auto;  overflow:auto; padding:20px 0; margin:10px 0; border-top:1px solid gray; }
#products .meta h3 a{ color:black;}
.product h3{padding:0 0 2px 0; margin:0 0 2px 0;}

#products .meta ul li{margin:0 0 7px 0; padding:0; border:none;}
#products .meta ul p{margin:0 0 7px 0; }

//Edit Product Form
#product .field {margin:5px 0;}
#product .dimensions input{width:50px;}
#product .table-dimensions input{width:50px;}



//Show Product
#show-product{overflow:auto; }
#show-product .show-meta {float:right; width:280px;}
#show-product .show-meta ul li{margin:0 0 7px 0; padding:0; border:none;}
#show-product .show-meta ul li p{margin:0 0 7px 0; padding:0;}

.photo{float:left;}
.meta{float:right; width:380px;}

#rightcolumn p.meta-data{margin:0; padding:0;}
#product-desc{padding:15px 0 0 0;}

#rightcolumn a .more {color:#58A51D;}
.timestamps{margin:20px 0; font-size:11px; font-style:italic;}
//.product h3{padding:0 0 10px 0; margin:0 0 10px 0;}

.meta h3 a{text-decoration:none;}
.dimensions span{ font-weight:800;}

//COLUMNS
.col-container{overflow:auto; border:1px dashed gray; padding:0 20px;}
.left{float:left;}
.right{float:right;}

ul{margin:0; padding:0; list-style:none;}
p{padding:0;margin:0;}
//ul#nav {background-color: #319E00;}

#container {background-color:white;width:955px; margin:0 auto;}
#footer { height:75px; }
#footer p{color:gray; margin:0; padding:0;}


#main_right{height:auto;}


//#categories ul{ padding:10px;}
//#categories li{ padding:10px 0;}
#categories input{position:relative; background:red; color:white; border:1px solid gray; float:right; top:-30px;}
#categories input:hover{background:gray;color:white; border:1px solid red;}

#disabled-categories li{ margin:5px; padding:5px; border:1px dashed gray;}

div#header ul#nav {clear: both;
	padding-left: 20px;
	list-style: none;
	position: relative;
	padding: 10px;
}

div#header ul#nav li {
	text-align:center;
	display: inline;
	position: relative;
	padding-bottom: 25px;
}

div#header ul#nav li a {	
	text-decoration: none;
	padding: 4px 13px 5px 13px;
	margin-right: 10px;
	border-radius: 5px;
	font-size: 17px;
	color: white;
}

div#header ul#nav li.active a {
	background: #b6de3e;
	color: #fff;
	box-shadow: 0px 0px 1px #aaa;
	border: 1px solid #eaeaea;
}

#sidebar li.admin-link a{color:red; font-style:italic;}

#admin-console{}
#admin-console li{ width:200px; display: inline; position: relative; padding:10px;  border:1px solid gray; }
#admin-console li a{font-size:18px;}
#admin-console li a:hover{ }


//Subscribe
#subscribe {overflow:auto; width:365px; margin-bottom:40px;}
#subscribe p { margin-bottom:20px; font-size:14px;}
#subscribe form{ margin:0; width:365px; padding:0;}

.subscribe.field { display: block; margin:5px 0; overflow:auto; }
.subscribe label { width:100px; float:left; font-size: 14px; color: black;}
.subscribe input { width:250px; float:left; font-size: 14px; color: gray; border: 2px solid gray; padding: 4px; }
.subscribe input:focus { border: 2px solid black; }
.subscribe textarea { display: block; border: 2px solid gray; font-size: 14px; line-height: 1.5em; color: gray; padding: 4px; }
.subscribe textarea:focus { border: 2px solid black; }


//Contact
#contact-page { overflow:auto; margin-bottom:50px; }
#contact-page p { margin-bottom:20px; font-size:14px; }
#contact-page form{ margin:0; width:465px; padding:0; }
#contact-page .actions{ margin-left:100px; }

#contact-page .contact { display: block; margin:5px 0; overflow:auto; }
#contact-page .contact label { width:100px; float:left; font-size: 14px; color: black;}
#contact-page .contact input { width:350px; float:left; font-size: 14px; color: gray; border: 2px solid gray; padding: 4px; }
#contact-page .contact input:focus { border: 2px solid black; }
#contact-page .contact textarea { width:350px;height:175px; display: block; border: 2px solid gray; font-size: 14px; line-height: 1.5em; color: gray; padding: 4px; }
#contact-page .contact textarea:focus { border: 2px solid black; }

#contact-page dl dt{font-size:22px; margin-bottom:10px;}
#contact-page dl dd {margin:10px 0 10px 10px;}
#contact-page dl dd a:link{color:#4D642D;}
#contact-page dl dd a:link:hover{color:#54B919;}


//Search
#search-box { margin-bottom:50px; width:420px; padding:0px;}
#search-box form{overflow:auto;}
#search-box .search { display: block; margin:5px 0; overflow:auto; }
#search-box .search label { width:100px; float:right; font-size: 18px; color: black;}
#search-box .search input{ width:260px; float:left; font-size: 14px; color: gray; border: 2px solid gray; padding: 4px;  }
#search-box .search input:focus { border: 2px solid black; }
#search-box .actions input{display:block;}

#search-results .search-meta ul li h4 a{ color:black;}
#search-results p {margin-top:20px;}
#search-results ul li h2 {margin:0;}
#search-results ul li p {margin-top:0px;}
#search-results ul li {overflow:auto; margin:5px 0; padding: 5px 0; border-top:1px solid gray;}
#search-results .search-photo {float:left; width:100px;}
#search-results .search-meta {float:right; width:480px;}



//Footer
#footer .left-col{float:left; }
#footer .contact-info{float:right;}
#footer #contact-info {
	font-size:14px;
	height: 50px;
	width: 400px;
	float: right;
	text-align: right;
	font-family: "Times New Roman", Times, serif;
	padding-right: 15px;
	padding-bottom:20px;
}


//Notifications
#notifications{
	font-family: "Times New Roman", Times, serif;
	margin: 0 auto;
    left: 0; right: 0;
	position:absolute; 
	font-size:16px; 
	width:500px;
	}
#notifications p {
	position:relative;
	display:block;
	color:white; 
	text-align:center; 
	border-left:2px solid gray; 
	border-right:2px solid gray; 
	border-bottom:2px solid gray; 
	padding:3px;
}
#notifications p.notice{ background-color: $lime-green; }
#notifications p.alert{background-color:red;}



//Back && Status
.back{position:absolute; margin-top:-30px; font-size:20px;}
.status{position:absolute; margin-top:-30px; margin-left:75px; font-size:20px;}




.column-container{ overflow:auto;}
.left-column{float:left; width:300px;}
.right-column{float:right; width:300px;}
#about img{float:left; padding:0 10px 5px 0;}
#about p{margin-bottom:20px; font-family: "Times New Roman", Times, serif; font-size: 12pt; line-height: 20px;}

/*#Slideshow--------------------------------------------*/
#slideshow { width: 600px; height: 375px; padding: 0;} 
#slideshow img {
    padding: 0 10px 10px 10px;
    width: 600px;
    height: 375px;
    top:  0;
    left: 0
}
//NAVIGATION ROLLOVERS//
#navigation a{ float:left;display: block;height: 35px;text-indent: -99999px; }

//.home
a.home { margin-left:40px; width: 50px; background: url('navigation/home.gif') top; }
a.home:hover { background-position: 0 35px; }

//.about
a.about { margin-left:70px; width: 59px; background: url('navigation/about2.gif') top; }
a.about:hover { background-position: 0 35px; }

//.search
a.search {margin-left:75px; width: 68px; background: url('navigation/search.gif') top; }
a.search:hover { background-position: 0 35px; }

//.finds
a.finds {margin-left:70px; width: 145px; background: url('navigation/phoebe_finds.gif') top; }
a.finds:hover { background-position: 0 35px; }

//.subscribe
a.subscribe {margin-left:55px; width: 90px; background: url('navigation/subscribe.gif') top; }
a.subscribe:hover { background-position: 0 35px; }

//contact
a.contact {margin-left:80px; width: 78px; background: url('navigation/contact.gif') top; }
a.contact:hover { background-position: 0 35px; }

//Spinner
#spinner{position:absolute; left:500px; top:200px; width:156px;  border:2px dashed gray; padding:20px; background-color:white;}
#spinner img{padding-left:62px; width:32px; height:32px;}
#spinner p{text-align:center; margin-bottom:20px;font-size:20px;}
.spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -50px; /* half width of the spinner gif */
	margin-top: -50px; /* half height of the spinner gif */
	text-align:center;
	z-index:1234;
	overflow: auto;
	width: 100px; /* width of the spinner gif */
	height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}
