// Place all the styles related to the subscribers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pagedisplay{max-width:150px;}
.pagesize{max-width:100px;}

.subscriber-vitals {font-size:1.1em;}
.down20 { padding:100px}

