.row
  .span4.active
    %ul.well
      %h2 Active
      - @categories.active.each do |category|
        = render category
  .span4.inactive
    %ul.well
      %h2 Inactive
      - @categories.inactive.each do |category|
        = render category
.row
  .span4
    = link_to 'New Category', new_category_path, :class=>"nice small radius button"
