.row
  .span4.inactive
    .well
      %h2 Inactive
      %ul.inactive
        = render :partial => 'category', :collection => @inactive_categories
.row
  .span4
    = link_to 'New Category', new_category_path, :class=>"nice small radius button"

