<table>
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Email</th>
    </tr>
  </thead>
  <tfoot>
      <tr>
        <td colspan="3"><%= paginate @emails %></td>
      </tr>
    </tfoot>
  <tbody>
  <% @emails.each do |email| %>
    <tr>
      <td><%= email.first %></td>
      <td><%= email.last %></td>
      <td><%= email.email %></td>
    </tr>   
  <% end %>
  </tbody>
</table> 
 