<% if current_user %>
  <script language="javascript">
      $(document).ready(function() {
           $('#buttonForModal').click(function(evt) {
                $('#myModal').reveal();
                evt.preventDefault();
           });

           $('#shows').sortable({
           	update: function(event, ui) {
           		var ShowsOrder = $(this).sortable('toArray');
           		$.post("<%= escape_javascript(sort_shows_path) %>", {ShowsOrder:ShowsOrder});
           	}
           });

      });
  </script>
<% end %>

<%= render 'shared/heading', :heading => 'contact' %>

<div id="contact-page">
  <p>Email: <a href="mailto:phoebe@phoebeboothantiques.com" class="green">phoebe@phoebeboothantiques.com</a><br />
    Phone: 917-597-4368
  </p>


<% unless @shows.empty? %>
  <dl id="shows">
    <dt id="shows-title">Upcoming Shows:</dt>
    <%= render @shows, :locals => { :list => true } %>
  </dl>
<% end %>



<% if current_user %>
  <a href="#" class="nice small radius button" id="buttonForModal">NEW</a>
  <div id="myModal" class="reveal-modal">
       <h2>New Show.</h2>
        <%= render 'form' %>
       <a class="close-reveal-modal">&#215;</a>
  </div>
<% end %>

</div>