<% if current_user %>
  <script language="javascript">
      $(document).ready(function() {
           $('#buttonForModal').click(function(evt) {
                $('#myModal').reveal();
                evt.preventDefault();
           });

           $('#shows').sortable({
           	update: function(event, ui) {
           		var ShowsOrder = $(this).sortable('toArray');
           		$.post("<%= escape_javascript(sort_shows_path) %>", {ShowsOrder:ShowsOrder});
           	}
           });

      });
  </script>
<% end %>

<%= render 'shared/heading', :heading => 'upcoming shows' %>

<div id="contact-page">
  

<% unless @shows.empty? %>
  <dl id="shows">
    <%= render @shows, :locals => { :list => true } %>
  </dl>
<% end %>



<% if current_user %>
  <a href="#" class="nice small radius button" id="buttonForModal">NEW</a>
  <div id="myModal" class="reveal-modal">
       <h2>New Show.</h2>
        <%= render 'form' %>
       <a class="close-reveal-modal">&#215;</a>
  </div>
<% end %>

</div>
