<%= form_for([@product, @keyword]) do |f| %>
  <div class="field edit-product">
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', :id=>"keyword-submit" %>
  </div>
<% end %>