<<<<<<< HEAD

<%= link_to 'Back', products_path, :class=>"back" %>

<h1>New product</h1>

<%= render 'form' %>
=======
<h1>New product</h1>

<%= render 'form' %>

<%= link_to 'Back', products_path %>
>>>>>>> 155df5c196845e601546793c68862416eb7b97e6
