<h1>Editing image</h1>

<<<<<<< HEAD
<div id="spinner" class="spinner" style="display:none;">
	<%= image_tag 'spinner.gif', :alt => 'Loading', :id => 'img-spinner' %>
</div>


=======
>>>>>>> 155df5c196845e601546793c68862416eb7b97e6
<%= render 'form' %>

<%= link_to 'Show', @image %> |
<%= link_to 'Back', product_path(@image.product) %>
