= content_tag_for :li, category do
  = link_to upcase_title(category), category
  - if current_user
    = button_to "Edit", edit_category_path(category), :class => 'white small button disable', :method => :get

