<div class="left">
	<p>Copyright &copy; Phoebeboothantiques.com <%=Time.now.year %>. All Rights Reserved.</p>
</div>

<div class="right">
	<ul>
		<!--<li><a href="http://ashlandstudios.com">Ashland Studios</a></li>-->
	</ul>
</div>
