<a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('home','','images/phoebe_navigation/images/home_2.jpg',1)">
	<img src="images/phoebe_navigation/images/space_1.jpg" alt="" width="85" height="25" border="0" />
</a>
<a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image8','','images/phoebe_navigation/images/home_2.jpg',1)">
	<img src="images/phoebe_navigation/images/home_1.jpg" width="121" height="25" border="0" id="Image8" />
</a>
<a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image4','','images/phoebe_navigation/images/about_2.jpg',1)">
	<img src="images/phoebe_navigation/images/about_1.jpg" width="138" height="25" border="0" id="Image4" />
</a>
<a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image5','','images/phoebe_navigation/images/search_2.jpg',1)">
	<img src="images/phoebe_navigation/images/search_1.jpg" width="139" height="25" border="0" id="Image5" /></a>
<a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image6','','images/phoebe_navigation/images/finds_2.jpg',1)">
	<img src="images/phoebe_navigation/images/finds_1.jpg" width="205" height="25" border="0" id="Image6" />
</a>
<a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image7','','images/phoebe_navigation/images/subscribe_2.jpg',1)">
	<img src="images/phoebe_navigation/images/subscribe_1.jpg" width="143" height="25" border="0" id="Image7" />
</a>
	<img src="images/phoebe_navigation/images/space_2.jpg" alt="" width="91" height="25" />
