- if notice.present?
  #notification.alert-box.success
    =notice
    =link_to '&times;'.html_safe, '#', class: 'close'
- if alert.present?
  #notification.alert-box.warning
    =alert
    =link_to '&times;'.html_safe, '#', class: 'close'

/ if alert.present?
/  = show_alerts.html_safe
