- if notice.present?
  = show_notifcations.html_safe
  = content_tag :script, :type => "text/javascript" do
    setTimeout(function() {
    $('#notification').slideUp();
    }, 3000);
- if alert.present?
  = show_alerts.html_safe
  = content_tag :script, :type => "text/javascript" do
    setTimeout(function() {
    $('#notification').slideUp();
    }, 3000);
