<% Category.active.each do |category|%>
	<li><%= link_to capitalize_title(category), category %></li>
<% end %>

<% if user_signed_in? %>
	<li class="admin-link"><%= link_to 'Admin Links', admin_url %></li>
	<li class="admin-link"><%= link_to 'Logout', logout_url %></li>
<% end %>
